<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakkub.simplepoker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Point Poker"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.oakkub.pointpoker.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oakkub.pointpoker.ui.settings.SettingsActivity"/>
        <activity android:name="com.oakkub.pointpoker.ui.settings.color.ChangeColorActivity"/>
    </application>

</manifest>